/* Header Section Strarted */
/* hedaer with fixed position at top */
.header {
  background-color: var(--white--color);
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 56px;
  z-index: 1;
}

/* header icons at the top
  and devided in three parts
  -left icons
  -middle icons
  -right icons */
.header__icons {
  height: 56px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* menu icon and youtube logo at the top left of screen */
.header__left-icons {
  margin: 0 17px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

/* microphone, search, create video and user logo
at the top right side of header */
.header__right-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 30px;
  flex-shrink: 0;
}

/* notifications counter */
.header__icons--notifications {
  background-color: var(--notifications--counter--color);
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
  color: var(--white--color);
  padding: 0px 5px;
  border-radius: 42%;
  margin-top: -10px;
  margin-left: -10px;
}

/* header right icons a little right margin */
.header__right-icons .header__icons--background {
  margin-right: 7px;
}

/* header icons parent div setup */
.header__icons--background {
  max-width: 40px;
  min-width: 40px;
  max-height: 40px;
  min-height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
}

/* icons in header setup */
.header__icons--size-round {
  max-width: 24px;
  max-height: 24px;
}

/* header icons hover */
.header .header__icons--background:hover {
  background-color: var(--header--icons--hover--color);
}

/* youtube image in header */
.header__icons--youtube-icon {
  max-width: 110px;
  height: auto;
  cursor: pointer;
  flex-shrink: 0;
  padding: 10px;
  margin: 0 10px;
}

/* user image */
.header__icons--image {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}

/* header middle icons for searchbar and search icon */
.header__middle-icons {
  display: none;
  flex-direction: row;
  align-items: stretch;
  border-radius: 20px;
  border: 1px solid #c4c2c2;
  overflow: hidden;
  height: 40px;
  flex-grow: 1;
  max-width: 600px;
  margin-left: 50px;
  min-width: 110px;
  margin-left: auto;
  background-color: var(--header--middle--icons--background--color);
}

/* header search input */
.header__middle-icons--input {
  min-width: 45px;
  flex-grow: 1;
  border: none;
  padding-left: 15px;
}

/* the vertical line in the 
  middle of search input and search bar */
.header__middle-icons--vertical-line {
  min-width: 1px;
  background-color: #c4c2c2;
  margin: 0;
  flex-grow: 0;
}

/* header middle icons serach icon
  at the right side of search bar */
.header__middle-icons .header__middle-icons--search {
  min-width: 70px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 0;
}

/* header second middle part for mic icon */
.header__second-middle-icons--mic-icon {
  display: none;
  margin-left: 10px;
  margin-right: auto;
  background-color: var(--header--middle--icons--background--color);
}

/* two divs just to add space in header */
.header__space-div {
  display: none;
  min-width: 50px;
}

/* Header Section Finished */
/* ***** */
/* *** */

/* **** */
/* ****** */
/* Header Tooltip Section Strarted */
.tooltip {
  position: relative;
}

.tooltiptext {
  font-family: Roboto, Arial, sans-serif;
  visibility: hidden;
  font-size: 12px;
  width: auto;
  background: #03030398;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 11px 8px;
  /* Position the tooltip */
  position: fixed;
  top: 65px;
  z-index: 2;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Header Tooltip Section Strarted */
/* ***** */
/* *** */

/* media for mobile sizes hide some header icons
and change the position of navbar icons to bottom */
@media (max-width: 500px) {
  .header__icons .header__left-icons {
    margin: 0;
  }

  .header__icons .header__left-icons .header__icons--background,
  .header__right-icons .header__right-icons--search,
  .header__right-icons--mic,
  .header__right-icons--video-call,
  .header__right-icons--notifications {
    display: none;
  }

  .header__space-div {
    display: none;
  }

  .header__middle-icons {
    display: flex;
  }
}

/* until this line for mobiles and small sizes
    -header
    -header icons
    -header icons tooltips
    -header buttons
    -shade for right side of buttons */

/* media for header setup */
@media (min-width: 650px) {
  .header__middle-icons {
    display: flex;
  }

  .header__second-middle-icons--mic-icon {
    display: flex;
  }

  .header__space-div {
    display: block;
  }

  .header__right-icons .header__right-icons--search {
    display: none;
  }

  .header__right-icons .header__right-icons--mic {
    display: none;
  }
}
