/* Navbar section started */
/* navbar for medium and tablet sizes
with four icons */
.navbar {
  position: fixed;
  top: 56px;
  left: 0;
  width: 75px;
  height: 100%;
  display: none;
  padding-bottom: 70px;
}

/* media for medium sizes
setup navbar and header bottom buttons */
@media (min-width: 770px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .videos-container {
    margin-left: 80px;
  }
}

/* navbar top first four icons */
.navbar .navbar__top-icons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* general setup for top four nav icons and bottom four nav icons for mobile sizes */
.navbar .navbar__top-icons .navbar__top-icon,
.bottom-navbar .navbar__top-icon {
  cursor: pointer;
  width: 90%;
  border-radius: 10px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* nav top icons hover color */
.navbar .navbar__top-icon:hover,
.bottom-navbar .navbar__top-icon:hover {
  background-color: var(--navigation--selected--color);
}

/* top navbar and bottom navbar text setup */
.navbar .navbar__top-icons .navbar__top-icon span,
.bottom-navbar .navbar__top-icon {
  font-size: 10px;
  margin-top: 7px;
  font-family: Roboto, Arial, sans-serif;
}

/* navbar svg size */
.navbar .navbar__top-icon svg,
.bottom-navbar svg {
  max-width: 24px;
  max-height: 24px;
}

/* bottom nav setup for mobile sizes */
.bottom-navbar {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: var(--white--color);
  border-top: 1px solid var(--header--icons--hover--color);
  bottom: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  justify-content: space-evenly;
  z-index: 2;
}

/* bottom nav icons size */
.bottom-navbar .navbar__top-icon {
  width: 20%;
  height: 90%;
}

/* media for mobile sizes hide some header icons
and change the position of navbar icons to bottom */
@media (max-width: 500px) {
  .bottom-navbar {
    display: flex;
  }
}

/* horizintal line between navbar sections */
.navbar .navbar__horizintal-line {
  min-height: 1px;
  width: 90%;
  background-color: #e9dddd;
  margin: 15px auto;
  display: none;
}

/* main setup for navigation parts
  top, second, subscriptions, explore, more and setting */
.navbar .navbar__second-navigation-icons,
.navbar .navbar__subscriptions,
.navbar__explore,
.navbar__more-youtube,
.navbar__settings {
  display: none;
  flex-direction: column;
  align-items: center;
}

/* navbar sections headings setup */
.navber__subscriptions--h2,
.navber__explore--h2,
.navber__more-youtube--h2 {
  font-size: 1rem;
  font-weight: normal;
  margin-left: 20px;
  width: 90%;
  margin-bottom: 5px;
}

/* navbar selective divs */
.navbar .navbar__second-navigation-icons .navbar__top-icon,
.navbar .navbar__subscriptions .navbar__subscriptions--div,
.navbar .navbar__explore .navbar__explore--div,
.navbar .navbar__more-youtube .navbar__more-youtube--div,
.navbar .navbar__settings .navbar__settings--div {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 40px;
  overflow: hidden;
  cursor: pointer;
  max-width: 90%;
  width: 90%;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* navbar icons hover background color */
.navbar .navbar__second-navigation-icons .navbar__top-icon:hover,
.navbar .navbar__subscriptions .navbar__subscriptions--div:hover,
.navbar .navbar__explore .navbar__explore--div:hover,
.navbar .navbar__more-youtube .navbar__more-youtube--div:hover,
.navbar .navbar__settings .navbar__settings--div:hover {
  background-color: var(--navigation--selected--color);
}

/* navbar icons and images size */
.navbar .navbar__second-navigation-icons .navbar__top-icon svg,
.navbar .navbar__subscriptions .navbar__subscriptions--div img,
.navbar .navbar__subscriptions .navbar__subscriptions--div svg,
.navbar .navbar__explore .navbar__explore--div svg,
.navbar .navbar__more-youtube .navbar__more-youtube--div svg,
.navbar .navbar__settings .navbar__settings--div svg {
  max-width: 25px;
  max-height: 25px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* navbar items text sizes and setup */
.navbar__second-navigation-icons span,
.navbar__subscriptions--div p,
.navbar__explore .navbar__explore--div p,
.navbar__more-youtube .navbar__more-youtube--div p,
.navbar__settings--div p {
  margin-left: 20px;
  font-size: 0.9rem;
  font-weight: normal;
  font-family: Roboto, Arial, sans-serif;
}

/* terms and conditions text at
  bottom of navbar */
.navbar .navbar__terms-text p {
  width: 90%;
  padding-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.8rem;
  cursor: pointer;
  margin-bottom: 10px;
  color: #4e4d4d;
  font-weight: 500;
}

.navbar .navbar__terms-text p:last-of-type {
  color: #a39f9f;
  font-weight: normal;
  cursor: auto;
}

.navbar__terms-text {
  display: none;
  flex-direction: column;
  width: 100%;
  padding-left: 15px;
}
/* navbar finished */
/* ***** */
/* *** */

/* the biggest media
-showing navbar at larg size 
-setting up videos sections */
@media (min-width: 1300px) {
  /* making navbar larg */
  .navbar {
    width: 240px;
    padding-top: 10px;
    overflow-y: scroll;
  }

  /* nav top four icons setup for larg screen sizes */
  .navbar .navbar__top-icons .navbar__top-icon {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-height: 40px;
    overflow: hidden;
    cursor: pointer;
    max-width: 90%;
    width: 90%;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* navbar items text sizes and setup */
  .navbar .navbar__top-icons .navbar__top-icon span {
    padding: 0;
    margin-top: 0;
    margin-left: 20px;
    font-size: 0.9rem;
    font-weight: normal;
    font-family: Roboto, Arial, sans-serif;
  }

  /* navbar home icon background */
  .navbar .navbar__top-icons .navbar__top-icon:first-of-type {
    background-color: var(--navigation--selected--color);
  }

  /* navbar home icon background changes on hover */
  .navbar .navbar__top-icons .navbar__top-icon:first-of-type:hover {
    background-color: var(--header--icons--hover--color);
  }

  /* hide navbar top section library icon */
  .navbar .navbar__top-icons .navbar__top-icon:last-of-type {
    display: none;
  }

  /* main setup for navigation parts
  top, second, subscriptions, explore, more and setting */
  .navbar .navbar__second-navigation-icons,
  .navbar .navbar__subscriptions,
  .navbar__explore,
  .navbar__more-youtube,
  .navbar__settings {
    display: flex;
  }

  .navbar__terms-text {
    display: flex;
  }

  /* horizintal line between navbar sections */
  .navbar .navbar__horizintal-line {
    display: block;
  }

  /* change scrollbar thumb color when hover navbar */
  .navbar:hover::-webkit-scrollbar-thumb {
    background: #929191;
    border-radius: 10px;
  }
}
